body { 
	text-align: center;
 }

 h2 {
 	margin-top: 30px;
 }

 #container {
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
    padding-bottom: 25px;

 }

  #container-aluno {
    width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative;
    left: 50%;
    margin-left: -450px;
    margin-top: 50px;
    padding-bottom: 25px;
 }

 #aluno-disciplinas-list{
    width: 500px;
    margin-left: 200px;
}

   #container-professor {
    width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative;
    left: 50%;
    margin-left: -450px;
    margin-top: 50px;
    padding-bottom: 25px;

 }

    #container-admin {
    width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative;
    left: 50%;
    margin-left: -450px;
    margin-top: 50px;
    padding-bottom: 25px;

 }

   .danger-usuario, .danger-senha{
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;

 }

 .login {
 	margin-top: 10px;
 	font-weight: bold;
 }

.login .input-group{;
	max-width: 450px;
	margin: 10px 0 10px 25px;
}

 .login .input-group-addon {
 	min-width: 39px;
 }

 .login .forgot-password {
 	margin-top: 10px;
 }

 .form-control {
 	margin-top: 1px;
 	margin-bottom: -1px !important;
 }

 #main-title{

 }

 #btn-aluno-sair {
    margin-left: 515px;
 }

  #btn-professor-sair {
    margin-left: 485px;
 }

   #btn-admin-sair {
    margin-left: 272px;
 }

 .navbar {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
 }

/*cadastro de alunos area admin*/
 .cadastro-alunos{
    width: 900px;
 }

 .cadastro-alunos form{
    margin: auto;
    width: 350px;
 }

 .cadastro-alunos .form-control{
    width: 300px;
 }


 .ls-table{
    background-color:white;
    box-shadow:0 1px 0 #e7e7e7;
    border-radius:4px 4px 0 0;
    margin: auto;
}

.ls-table thead{
    color:white;
}

.ls-table thead tr th{
    border-bottom:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    font-size:14px;
    vertical-align:middle;
    font-family:open_sans_bold;
    background-color: #555555;
    padding: 8px;
}

.ls-table thead tr th:first-child{
    border-radius:4px 0 0 0;
}

.ls-table thead tr th:last-child{
    border-radius:0 4px 0 0;
}

.ls-table tr td{
    vertical-align:middle;
    padding: 4px;
}