body { 
	text-align: center;
}

h2 {
 	margin-top: 30px;
}

#container {
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
    padding-bottom: 25px;
}

#container-aluno, #container-professor, #container-admin {
    width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative;
    left: 50%;
    margin-left: -450px;
    margin-top: 50px;
    padding-bottom: 25px;
}

#aluno-disciplinas-list, #aluno-matricula-list{
    width: 500px;
    margin-left: 200px;
}

#professor-notas-list, #aluno-notas-list, #admin-notas-list{
    width: 600px;
    margin-left: 150px;    
}

.danger-usuario, .danger-senha{
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.login {
    margin-top: 10px;
    font-weight: bold;
}

.login .input-group{;
	max-width: 450px;
	margin: 10px 0 10px 25px;
}

.login .input-group-addon {
 	min-width: 39px;
}

.login .forgot-password {
 	margin-top: 10px;
}

.form-control {
 	margin-top: 1px;
 	margin-bottom: -1px !important;
}

/*#btn-aluno-sair {
    margin-left: 515px;
}*/

/*#btn-professor-sair {
    margin-left: 485px;
}*/

/*#btn-admin-sair {
    margin-left: 272px;
}*/

.navbar-show-user {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

/*cadastro de alunos, professores e discipinas area admin*/
#cadastro-aluno-list, #cadastro-professor-list, #cadastro-disciplina-list{
    margin: auto;
    width: 500px;
}

#cadastro-aluno-list .input-group, #cadastro-professor-list .input-group, #cadastro-disciplina-list .input-group{
    margin-bottom: 3px;
}

#cadastro-aluno-list .input-group-addon, #cadastro-professor-list .input-group-addon, #cadastro-disciplina-list .input-group-addon {
    width: 150px;
    text-align: right;
}

 #cadastro-aluno-list .form-control, #cadastro-professor-list .form-control, #cadastro-disciplina-list .form-control {
    width: 350px;
 }

#cadastro-aluno-list .btn-salvar, #cadastro-aluno-list .btn-cancelar, #cadastro-professor-list .btn-salvar, #cadastro-professor-list .btn-cancelar, #cadastro-disciplina-list .btn-salvar, #cadastro-disciplina-list .btn-cancelar{
    margin-top: 6px;
    margin-bottom: 6px;
 }

#alunos-cadastrados-list, #professores-cadastrados-list, #disciplinas-cadastradas-list{
    width: 500px;
    margin-left: 200px;
}

#professor-notas select, #aluno-notas select, #admin-notas select{
    width: 250px;
    margin-left: 325px;
}

.inputbox.nota{
    width: 60px;
}

#professores-cadastrados table th.codigo, #alunos-cadastrados table th.codigo, #disciplinas-cadastradas table th.codigo{
    width: 15%;
}

#professores-cadastrados table th.opcoes, #alunos-cadastrados table th.opcoes, #disciplinas-cadastradas table th.opcoes{
    width: 20%;
}

.alert.flash{
    width: 500px;
    margin: 10px auto 20px;
}

.info-gray{
    font-size: 10px;
    color: #777;
}

.align-left{
    text-align: left;
}